@import url('https://fonts.googleapis.com/css2?family=Purple+Purse&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@font-face {
    font-family: 'thamescbold';
    src: url('../fonts/18461-webfont.woff2') format('woff2'),
         url('../fonts/18461-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
:root {
    --main-font:'Purple Purse', cursive;
    --two-font:'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}
header {
    background-image: url(../img/timorback.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-bottom: 150px;
    height: 50vh;
}
.heading {
    height: 110px;
    background-color: rgba(46, 46, 46, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 1s 0.1s;
    opacity: 1;
}
.heading-active {
    opacity: 0;
    transition: all 1s 0.1s;
}
.heading h2 {
    font-size: 55px;
    color: white;
    font-family: 'thamescbold';
    margin-left: 50px;
}
.heading nav {
    margin-right: 50px;
}
.heading nav a {
    font-family: var(--two-font);
    font-size: 16px;
    letter-spacing: 5px;
    text-decoration: none;
    color: white;
    padding: 13px 23px;
    margin-left: 10px;
}
.about {
    border: 1px solid white;
    padding: 13px 23px;
    margin-left: 10px;
}
.about:hover {
    background-color: white;
    color: rgba(1, 1, 1, 0.1);
    border: 1px solid white;
}
.main-heading {
    display: grid;
    grid-template-columns: minmax(auto,25%)  minmax(auto,50%)  minmax(auto,25%);
}
.main-heading-grid {
    grid-column: 2/3;
}
.main-heading h1 {
  font-size: 55px;  
  font-family: 'thamescbold';
  margin-top: 200px;
}
.main-heading p {
    color: white;
    font-size: 17px;
    font-family: var(--two-font);
    letter-spacing: 3px;
}
.line {
    margin-top: 10px;
    width: 52px;
    height: 2px;
    background-color:rgba(46, 46, 46, 1);
}
main {
    background-color:rgba(46, 46, 46, 1);
    display: grid;
    grid-template-columns: minmax(auto,25%)  minmax(auto,50%)  minmax(auto,25%);
}
.grid-main-div {
    grid-column: 2/3;
    padding-top: 100px;
}
.grid-main-div p {
    color: #717171;
    font-family: var(--two-font);
    letter-spacing: 1px;
    font-size: 13px;
    line-height: 20px;
}
.h-line {
    margin-top: 10px;
    width: 100px;
    height: 2px;
    background-color:white;
}
.grid-main-div img {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}
.grid-main-div div {
    margin-top: 20px;
    margin-bottom: 20px;
}
.p p {
    font-family: 'Lobster', cursive;
    font-size: 3vw;
    line-height: 35px;
    text-align: center;
}
.p {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.grid-main-p p{
    margin-bottom: 30px;
}
ul {
    margin-left: 40px;
    color: #717171;
    font-family: var(--two-font);
    letter-spacing: 1px;
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 50px;
}
.subscribe {
    height: 450px;
    display: flex;
    flex-direction: column;
    background-color:#393939;
    align-items: center;
}
.subscribe h2 {
       font-family: 'thamescbold';
       color: #e2f0ed;
       font-size: 55px;
       padding-top: 90px;
       text-align: center;
}
.subscribe span {
       font-family: var(--two-font);
       letter-spacing: 2px;
       color: #717171;
       margin-top: 10px;
       position: relative;
       display: block;
       margin-bottom: 35px;
       text-align: center;
}
.subscribe span:after {
       content: "";
       border: 2px solid #889190;
       background-color: #889190;
       width: 55px;
       transform: rotate(0deg);
       position: absolute;
       margin-top: 50px;
       margin-left:-141px;
       display: none;
}
input {
       width: 450px;
       background-color:#393939 ;
       border: 2px solid #717171;
       height: 60px;
       padding-left: 30px;
}
input:focus {
       outline: none;
       -webkit-box-shadow: 0px 0px 7px 0px #717171; 
       box-shadow: 0px 0px 7px 0px #717171;
}
input:active {
       outline: none;
       -webkit-box-shadow: 0px 0px 7px 0px #717171; 
       box-shadow: 0px 0px 7px 0px #717171;
}
.submit {
       background-color: transparent;
       border: 2px solid white;
       letter-spacing: 3px;
       font-family: var(--two-font);
       padding: 13px 30px;
       margin-top: 30px;
       color: white;
}
.submit:hover {
       background-color: white;
       color: #2e2e2e;
}
.submit:focus {
       outline: none;
}
.submit:active {
      outline: none;
}
footer {
       height: 210px;
       background-color: #2e2e2e;
       display: flex;
       justify-content: space-between;
       align-items: center;
       padding-left: 70px;
       padding-right: 70px;
}
footer h1 {
       font-size: 50px;
       color: white;
}
.footer-links a {
       font-size: 15px;
       color: #b6b6b6;
       font-family: var(--two-font);
       text-decoration: none;
       letter-spacing: 4px;
       margin-left: 30px;
}
.line-burger {
    width: 40px;
    border-radius: 10px;
    height: 5px;
    background-color: white;
    transition: all 0.3s 0.2s;
}
.two {
    margin-top: 10px;
}
.burger {
    position: absolute;
    right: 35px;
    top: 40px;
    display: none;
    z-index: 100;
    transition: all 0.7s 0.1s;
}
.burger-active {
    top: 130px;
    transition: all 0.7s 0.2s;
}
.line-burger-one {
    transform: rotate(-45deg);
    transition: all 0.4s 0.1s;
    width: 35px;
    margin-left: 10px;
    margin-top: 10px;
}
.line-burger-two {
    width: 35px;
    transform: rotate(45deg);
    margin-left: 10px;
    margin-top: -5px;
    transition: all 0.4s 0.1s;
}
.block-menu {
  height: 100%;
  position: absolute;
  top: -180px;
  margin-right: 0px;
  height: 180px;
  width: 100%;
  background-color: rgba(46, 46, 46, 1);
  transition: all 0.7s 0.1s;
  opacity: 1;
}
.block-menu-active {
    opacity: 1;
    top: 0px;
    transition: all 0.7s 0.1s;
}
.burger-nav a{
    font-family: var(--two-font);
    font-size: 16px;
    letter-spacing: 5px;
    text-decoration: none;
    color: white;
    padding: 13px 0px;
    display: flex;
}
.burger-nav {
    margin-right: 0px;
    margin-top: 20px;
    margin-left: 20px;
}